<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>
                {{ menu }}
            </h3>
            <hr />
        </div>
    </div>
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let item of dishes" (click)="onSelect(item)">
                <img height="200px" src="{{ item.image }}" />
                <mat-grid-tile-footer>
                    <h1>
                        {{ item.name | uppercase }}
                    </h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <app-dishdetails [dish]="selectedDishes"> </app-dishdetails>
</div>